.file-manager {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    padding: 8px 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: black;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: plum;
}

input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="file"] {
    margin-bottom: 10px;
}

.share-modal input[type="text"] {
    width: 200px;
    margin-right: 10px;
}

.share-modal button {
    padding: 8px 16px;
    margin-right: 10px;
}

.share-modal button:last-child {
    margin-right: 0;
}

.exit-button {
    background-color: red;
    color: white;
}
.custom-file-input {
    display: inline-block;
    position: relative;
}

